
<body id="cuerpo">
    <div id="informacion">
        <h2 id="titulo">Ranking de establecimientos mejor valorados</h2>
        <p id="intro">Aquí podrás encontrar el establecimiento que andas buscando con un simple click, o si lo prefieres y quieres ir a la aventura puedes guiarte por la opinión de otros usuarios y elegir así un establecimiento</p>
    </div>

    <div class="container" id="cuadro_busqueda">
        <div class="form-group">
            <label class="elementos-auxiliares" for="busqueda">Búsqueda  </label>
            <input type="text" class="form-control" id="busqueda" name = "filterLista" placeholder="(Busqueda por localidad)" [(ngModel)]="filterLista">
        </div>
    </div>
<div class="ranking" id ="ranking">
    <div *ngIf="getEstablecimientos$() | async as establecimientos">
        <div class="row">
            <div class="col">
                <table class="table table-striped" id = "ranking_establecimientos">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Localidad</th>
                            <th>Puntuacion</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr id = "{{'trr' + i}}" *ngFor="let establecimiento of establecimientos | filter:filterLista; index as i">
                            <td (click)="abrir_popup(establecimiento.id)">{{establecimiento.name}}</td>
                            <td>{{establecimiento.localidad}}</td>
                            <td>                                
                                {{establecimiento.valoracion}}
                           </td>
                            <td>
                                <button  (click)="clickCrearComentario(establecimiento.id)">Añadir comentario</button>
                                <button  (click)="addPuntuacion(establecimiento.id)">Añadir Puntuación</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>
<div class="modal-container modal_hid"  id="popup_est_especifico">
    <div class="modal">
        <div>
            <button id=boton_cerrar_form1 type="reset" class="boton_cerrar_form" (click)="cerrar_form()">Cerrar</button>
        </div>
        <h1 id="Titulo_est_popup"></h1>
        <br>
        <img class = "est_popup" width=30% id="img_est_popup"> 
        <div  class = "alinear">
            <p class="negrita">Valoracion: </p><p id="valoracion_est_popup">
            </p>
        </div>
        <div  class = 'alinear'>
            <p class="negrita">Tipo: </p><p id="tipo_est_popup">
            </p>
        </div>
        <div  class = 'alinear'>
            <p class="negrita">Calle: </p> <p id="calle_est_popup">
            </p>
        </div>
        <div  class = 'alinear'>
            <p class="negrita">Localidad: </p><p id="localidad_est_popup">
            </p>
        </div>
        <div  class = 'alinear'>
            <p class="negrita">Descripción: </p><p id="descripcion_est_popup">
            </p>
        </div>
        <h2>COMENTARIOS: </h2><ul class = 'lista_coments' id='comentarios_est_popup'>
        </ul>
    </div>
</div>
<div class="comentario">
    <br>
    <br>
    <label class="elementos-auxiliares" for="comentario">¡Deja tu puntuación!</label>
    <input type="text" class="form-control" name = "puntuacion" id = "puntuacion" placeholder="(Puntuacion)" [(ngModel)]="inputPuntuacion">
</div>
<br>
<div class="comentario">
    <br>
    <br>
    <label class="elementos-auxiliares" for="comentario">¡Publica tu comentario!  </label>
    <input type="text" class="form-control" name = "comentario" id="comentario" placeholder="(Comentario)" [(ngModel)]="inputComentario">
</div>
<br>
</body>